<style>

  * {
    box-sizing: border-box;
  }

  .myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 5px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #9da3a6;
    margin-top: 70px;
  }

  .contents {
    max-width: 936px
  }

  .content {
    display: block;
    background-color: white;
    padding: 22px 22px;
    border-radius: 3px;
    margin-top: 22px;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
  }

  .myTable {
    border-collapse: collapse;
    width: 200%;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
  }

    .myTable th, .myTable td {
      text-align: left;
      padding: 12px;
    }

    .myTable tr {
      border-bottom: 1px solid #ddd;
    }

      .myTable tr.header, .myTable tr:hover {
        background-color: #f1f1f1;
      }

  .myTable2 {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
  }

    .myTable2 th, .myTable2 td {
      text-align: left;
      padding: 12px;
    }

    .myTable2 tr {
      border-bottom: 1px solid #ddd;
    }

      .myTable2 tr.header, .myTable tr:hover {
        background-color: #f1f1f1;
      }

  .myTable .active {
    background-color: #aaa;
  }

    .myTable .active:hover {
      background-color: #aaa;
    }

  .navbar {
    width: unset;
  }

  #moneyCounterForm .row {
    margin-bottom: 5px
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
</style>

<div class="content vx_text-body" *ngIf="tab === 'whatsapp'">
  <div>
    <div class="navbar-container" style="background: white !important;">
      <div class="navbar">
        <div class="subnav">
          <button [class]="tabname_ == 'wa-messages'? 'subnavbtn active' : 'subnavbtn'" (click)="openTab_($event, 'wa-messages');">Mensagens</button>
          <div class="subnav-content" style="box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);background: #ffffff; color: #2c2e2f; border-radius: 0px">
            <!--<span style="color: #2c2e2f;">Compra</span>
          <span style="color: #2c2e2f;">Ajuste de estoque</span>
          <span style="color: #2c2e2f;">Entrada por CSV</span>-->
          </div>
        </div>
        <div class="subnav">
          <button [class]="tabname_ != 'wa-messages'? 'subnavbtn active' : 'subnavbtn'" (click)="openTab_($event, 'wa-configuration');">Configurações</button>
          <div class="subnav-content" style="box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);background: #ffffff; color: #2c2e2f; border-radius: 0px">

          </div>
        </div>

      </div>
    </div>

    <div id="wa-messages" class="tabcontent_" style="background: #ffffff; border-left: 0; border-right: 0; border-top: 0px solid #e0e0e0 !important">
      <div class="tab" style="background: #ffffff; padding-top: 8px; border-bottom: 0px; border-left: 0; border-right: 0">
        <div style="float: left; min-height: 300px">
          <button [class]="tabname == 'welcome'? 'subnav active' : 'subnav'" (click)="openTab($event, 'welcome');" style="padding: 14px 16px; padding-top: 8px; cursor: pointer; text-decoration: none">Boas-vindas</button>
          <button [class]="tabname == 'sendOrderTotal'? 'subnav active' : 'subnav'" (click)="openTab($event, 'sendOrderTotal');" style="padding: 14px 16px; padding-top: 8px; cursor: pointer; text-decoration: none">Enviar total do pedido</button>
          <button [class]="tabname == 'requestChange'? 'subnav active' : 'subnav'" (click)="openTab($event, 'requestChange');" style="padding: 14px 16px; padding-top: 8px; cursor: pointer; text-decoration: none">Solicitar troco</button>
          <button [class]="tabname == 'sendCustomerOrder'? 'subnav active' : 'subnav'" (click)="openTab($event, 'sendCustomerOrder');" style="padding: 14px 16px; padding-top: 8px; cursor: pointer; text-decoration: none">Enviar pedido do cliente</button>
          <button [class]="tabname == 'sendMenu'? 'subnav active' : 'subnav'" (click)="openTab($event, 'sendMenu');" style="padding: 14px 16px; padding-top: 8px; cursor: pointer; text-decoration: none">Enviar cardápio</button>
          <div class="navbar-container" style="background: white !important; display: block; float: left">
            <div class="navbar">
              <div class="subnav">
                <button class="subnavbtn" style="width: 101px"><fa-icon [icon]="faEllipsisH" onmouseover="document.getElementById('w-subnav-content').display = 'block'" onmouseout="document.getElementById('w-subnav-content').display = 'none'"></fa-icon></button>
                <div id="w-subnav-content" class="subnav-content" style="background: red;box-shadow: 0 0 4px 0 rgb(0 0 0 / 8%), 0 2px 4px 0 rgb(0 0 0 / 12%);background: #ffffff; color: #2c2e2f; border-radius: 0px; right: 9px">
                  <span style="color: #2c2e2f;" (click)="openTab($event, 'confirmAddress');">Confirmar endereço</span>
                  <span style="color: #2c2e2f;" (click)="openTab($event, 'anythingElse');">Algo mais</span>
                  <span style="color: #2c2e2f;" (click)="openTab($event, 'outForDelivery');">Saiu para entrega</span>
                  <span style="color: #2c2e2f;" (click)="openTab($event, 'orderCompleted');">Pedido concluído</span>
                </div>
              </div>
            </div>
          </div>
          <div id="welcome" class="tabcontent" style="margin-top: 42px; background: #ffffff; border-left: 0; border-right: 0; border-top: 1px solid #e0e0e0 !important">

            <div *ngFor="let item of map.get('welcome'); let i = index">
              <div class="row" [style]="item != 'text' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <textarea class="form-control" [(ngModel)]="content.get('welcome')[i]"></textarea>
                </div>
              </div>
              <div class="row" [style]="item != 'picture' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <input type="file" (change)="fileChange($event, i)" />
                </div>
              </div>
              <div style="display: block; width: 100%; float: left; margin-bottom: 20px">

                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('welcome').length - 1"><fa-icon [icon]="faTrash" (click)="removeWhatsappConversation('welcome')"></fa-icon></span>
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('welcome').length - 1"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('welcome', 'picture')"></fa-icon></span>

                <span id="welcome-comment-icon" style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('welcome').length - 1"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('welcome', 'text')"></fa-icon></span>

              </div>

            </div>
            <div style="width: 100%">

              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('welcome').length != 0"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('welcome', 'picture')"></fa-icon></span>

              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('welcome').length != 0"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('welcome', 'text')"></fa-icon></span>
            </div>
            <div class="row" style="margin: 0; width: 100%; display: flex;" [hidden]="map.get('welcome').length == 0">
              <div class="col-lg-12" style="padding: 0">
                <button class="btn btn-primary" style="float: right" (click)="saveMessage('welcome')">Salvar</button>
              </div>
            </div>
          </div>
          <div id="sendOrderTotal" class="tabcontent" style="margin-top: 42px; background: #ffffff; border-left: 0; border-right: 0; border-top: 1px solid #e0e0e0 !important">

            <div *ngFor="let item of map.get('sendOrderTotal'); let i = index">
              <div class="row" [style]="item != 'text' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <textarea class="form-control" [(ngModel)]="content.get('sendOrderTotal')[i]"></textarea>
                </div>
              </div>
              <div class="row" [style]="item != 'picture' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <input type="file" (change)="fileChange($event, i)" />
                </div>
              </div>
              <div style="display: block; width: 100%; float: left; margin-bottom: 20px">
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('sendOrderTotal').length - 1"><fa-icon [icon]="faTrash" (click)="removeWhatsappConversation('sendOrderTotal')"></fa-icon></span>
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('sendOrderTotal').length - 1"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('sendOrderTotal', 'picture')"></fa-icon></span>

                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('sendOrderTotal').length - 1"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('sendOrderTotal', 'text')"></fa-icon></span>

              </div>

            </div>
            <div style="width: 100%">
              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('sendOrderTotal').length != 0"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('sendOrderTotal', 'picture')"></fa-icon></span>

              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('sendOrderTotal').length != 0"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('sendOrderTotal', 'text')"></fa-icon></span>
            </div>
            <div class="row" style="margin: 0; width: 100%; display: flex;" [hidden]="map.get('sendOrderTotal').length == 0">
              <div class="col-lg-12" style="padding: 0">
                <button class="btn btn-primary" style="float: right" (click)="saveMessage('sendOrderTotal')">Salvar</button>
              </div>
            </div>
          </div>
          <div id="requestChange" class="tabcontent" style="margin-top: 42px; background: #ffffff; border-left: 0; border-right: 0; border-top: 1px solid #e0e0e0 !important">

            <div *ngFor="let item of map.get('requestChange'); let i = index">
              <div class="row" [style]="item != 'text' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <textarea class="form-control" [(ngModel)]="content.get('requestChange')[i]"></textarea>
                </div>
              </div>
              <div class="row" [style]="item != 'picture' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <input type="file" (change)="fileChange($event, i)" />
                </div>
              </div>
              <div style="display: block; width: 100%; float: left; margin-bottom: 20px">
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('requestChange').length - 1"><fa-icon [icon]="faTrash" (click)="removeWhatsappConversation('requestChange')"></fa-icon></span>
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('requestChange').length - 1"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('requestChange', 'picture')"></fa-icon></span>

                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('requestChange').length - 1"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('requestChange', 'text')"></fa-icon></span>

              </div>

            </div>
            <div style="width: 100%">
              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('requestChange').length != 0"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('requestChange', 'picture')"></fa-icon></span>

              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('requestChange').length != 0"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('requestChange', 'text')"></fa-icon></span>
            </div>
            <div class="row" style="margin: 0; width: 100%; display: flex;" [hidden]="map.get('requestChange').length == 0">
              <div class="col-lg-12" style="padding: 0">
                <button class="btn btn-primary" style="float: right" (click)="saveMessage('requestChange')">Salvar</button>
              </div>
            </div>
          </div>
          <div id="sendCustomerOrder" class="tabcontent" style="margin-top: 42px; background: #ffffff; border-left: 0; border-right: 0; border-top: 1px solid #e0e0e0 !important">

            <div *ngFor="let item of map.get('sendCustomerOrder'); let i = index">
              <div class="row" [style]="item != 'text' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <textarea class="form-control" [(ngModel)]="content.get('sendCustomerOrder')[i]"></textarea>
                </div>
              </div>
              <div class="row" [style]="item != 'picture' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <input type="file" (change)="fileChange($event, i)" />
                </div>
              </div>
              <div style="display: block; width: 100%; float: left; margin-bottom: 20px">
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('sendCustomerOrder').length - 1"><fa-icon [icon]="faTrash" (click)="removeWhatsappConversation('sendCustomerOrder')"></fa-icon></span>
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('sendCustomerOrder').length - 1"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('sendCustomerOrder', 'picture')"></fa-icon></span>

                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('sendCustomerOrder').length - 1"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('sendCustomerOrder', 'text')"></fa-icon></span>

              </div>

            </div>
            <div style="width: 100%">
              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('sendCustomerOrder').length != 0"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('sendCustomerOrder', 'picture')"></fa-icon></span>

              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('sendCustomerOrder').length != 0"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('sendCustomerOrder', 'text')"></fa-icon></span>
            </div>
            <div class="row" style="margin: 0; width: 100%; display: flex;" [hidden]="map.get('sendCustomerOrder').length == 0">
              <div class="col-lg-12" style="padding: 0">
                <button class="btn btn-primary" style="float: right" (click)="saveMessage('sendCustomerOrder')">Salvar</button>
              </div>
            </div>
          </div>
          <div id="sendMenu" class="tabcontent" style="margin-top: 42px; background: #ffffff; border-left: 0; border-right: 0; border-top: 1px solid #e0e0e0 !important">

            <div *ngFor="let item of map.get('sendMenu'); let i = index">
              <div class="row" [style]="item != 'text' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <textarea class="form-control" [(ngModel)]="content.get('sendMenu')[i]"></textarea>
                </div>
              </div>
              <div class="row" [style]="item != 'picture' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <input type="file" (change)="fileChange($event, i)" />
                </div>
              </div>
              <div style="display: block; width: 100%; float: left; margin-bottom: 20px">
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('sendMenu').length - 1"><fa-icon [icon]="faTrash" (click)="removeWhatsappConversation('sendMenu')"></fa-icon></span>
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('sendMenu').length - 1"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('sendMenu', 'picture')"></fa-icon></span>

                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('sendMenu').length - 1"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('sendMenu', 'text')"></fa-icon></span>

              </div>

            </div>
            <div style="width: 100%">
              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('sendMenu').length != 0"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('sendMenu', 'picture')"></fa-icon></span>

              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('sendMenu').length != 0"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('sendMenu', 'text')"></fa-icon></span>
            </div>
            <div class="row" style="margin: 0; width: 100%; display: flex;" [hidden]="map.get('sendMenu').length == 0">
              <div class="col-lg-12" style="padding: 0">
                <button class="btn btn-primary" style="float: right" (click)="saveMessage('sendMenu')">Salvar</button>
              </div>
            </div>
          </div>
          <div id="confirmAddress" class="tabcontent" style="margin-top: 42px; background: #ffffff; border-left: 0; border-right: 0; border-top: 1px solid #e0e0e0 !important">

            <div *ngFor="let item of map.get('confirmAddress'); let i = index">
              <div class="row" [style]="item != 'text' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <textarea class="form-control" [(ngModel)]="content.get('confirmAddress')[i]"></textarea>
                </div>
              </div>
              <div class="row" [style]="item != 'picture' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <input type="file" (change)="fileChange($event, i)" />
                </div>
              </div>
              <div style="display: block; width: 100%; float: left; margin-bottom: 20px">
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('confirmAddress').length - 1"><fa-icon [icon]="faTrash" (click)="removeWhatsappConversation('confirmAddress')"></fa-icon></span>
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('confirmAddress').length - 1"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('confirmAddress', 'picture')"></fa-icon></span>

                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('confirmAddress').length - 1"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('confirmAddress', 'text')"></fa-icon></span>

              </div>

            </div>
            <div style="width: 100%">
              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('confirmAddress').length != 0"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('confirmAddress', 'picture')"></fa-icon></span>

              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('confirmAddress').length != 0"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('confirmAddress', 'text')"></fa-icon></span>
            </div>
            <div class="row" style="margin: 0; width: 100%; display: flex;" [hidden]="map.get('confirmAddress').length == 0">
              <div class="col-lg-12" style="padding: 0">
                <button class="btn btn-primary" style="float: right" (click)="saveMessage('confirmAddress')">Salvar</button>
              </div>
            </div>
          </div>
          <div id="anythingElse" class="tabcontent" style="margin-top: 42px; background: #ffffff; border-left: 0; border-right: 0; border-top: 1px solid #e0e0e0 !important">

            <div *ngFor="let item of map.get('anythingElse'); let i = index">
              <div class="row" [style]="item != 'text' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <textarea class="form-control" [(ngModel)]="content.get('anythingElse')[i]"></textarea>
                </div>
              </div>
              <div class="row" [style]="item != 'picture' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <input type="file" (change)="fileChange($event, i)" />
                </div>
              </div>
              <div style="display: block; width: 100%; float: left; margin-bottom: 20px">
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('anythingElse').length - 1"><fa-icon [icon]="faTrash" (click)="removeWhatsappConversation('anythingElse')"></fa-icon></span>
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('anythingElse').length - 1"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('anythingElse', 'picture')"></fa-icon></span>

                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('anythingElse').length - 1"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('anythingElse', 'text')"></fa-icon></span>

              </div>

            </div>
            <div style="width: 100%">
              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('anythingElse').length != 0"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('anythingElse', 'picture')"></fa-icon></span>

              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('anythingElse').length != 0"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('anythingElse', 'text')"></fa-icon></span>
            </div>

            <div class="row" style="margin: 0; width: 100%; display: flex;" [hidden]="map.get('anythingElse').length == 0">
              <div class="col-lg-12" style="padding: 0">
                <button class="btn btn-primary" style="float: right" (click)="saveMessage('anythingElse')">Salvar</button>
              </div>
            </div>

          </div>
          <div id="outForDelivery" class="tabcontent" style="margin-top: 42px; background: #ffffff; border-left: 0; border-right: 0; border-top: 1px solid #e0e0e0 !important">

            <div *ngFor="let item of map.get('outForDelivery'); let i = index">
              <div class="row" [style]="item != 'text' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <textarea class="form-control" [(ngModel)]="content.get('outForDelivery')[i]"></textarea>
                </div>
              </div>
              <div class="row" [style]="item != 'picture' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <input type="file" (change)="fileChange($event, i)" />
                </div>
              </div>
              <div style="display: block; width: 100%; float: left; margin-bottom: 20px">
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('outForDelivery').length - 1"><fa-icon [icon]="faTrash" (click)="removeWhatsappConversation('outForDelivery')"></fa-icon></span>
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('outForDelivery').length - 1"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('outForDelivery', 'picture')"></fa-icon></span>

                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('outForDelivery').length - 1"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('outForDelivery', 'text')"></fa-icon></span>

              </div>

            </div>
            <div style="width: 100%">
              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('outForDelivery').length != 0"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('outForDelivery', 'picture')"></fa-icon></span>

              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('outForDelivery').length != 0"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('outForDelivery', 'text')"></fa-icon></span>
            </div>

            <div class="row" style="margin: 0; width: 100%; display: flex;" [hidden]="map.get('outForDelivery').length == 0">
              <div class="col-lg-12" style="padding: 0">
                <button class="btn btn-primary" style="float: right" (click)="saveMessage('outForDelivery')">Salvar</button>
              </div>
            </div>

          </div>
          <div id="orderCompleted" class="tabcontent" style="margin-top: 42px; background: #ffffff; border-left: 0; border-right: 0; border-top: 1px solid #e0e0e0 !important">

            <div *ngFor="let item of map.get('orderCompleted'); let i = index">
              <div class="row" [style]="item != 'text' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <textarea class="form-control" [(ngModel)]="content.get('orderCompleted')[i]"></textarea>
                </div>
              </div>
              <div class="row" [style]="item != 'picture' ? 'display: none !important' : 'display: block !important'">
                <div class="col-lg-12">
                  <input type="file" (change)="fileChange($event, i)" />
                </div>
              </div>
              <div style="display: block; width: 100%; float: left; margin-bottom: 20px">
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('orderCompleted').length - 1"><fa-icon [icon]="faTrash" (click)="removeWhatsappConversation('orderCompleted')"></fa-icon></span>
                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('orderCompleted').length - 1"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('orderCompleted', 'picture')"></fa-icon></span>

                <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="i != map.get('orderCompleted').length - 1"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('orderCompleted', 'text')"></fa-icon></span>

              </div>

            </div>
            <div style="width: 100%">
              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('orderCompleted').length != 0"><fa-icon [icon]="faCamera" (click)="addWhatsappConversation('orderCompleted', 'picture')"></fa-icon></span>

              <span style="cursor: pointer; display: block; float: right; margin-top: 5px; margin-right: 7px; color: rgba(0, 0, 0, 0.6)" [hidden]="map.get('orderCompleted').length != 0"><fa-icon [icon]="faCommentDots" (click)="addWhatsappConversation('orderCompleted', 'text')"></fa-icon></span>
            </div>

            <div class="row" style="margin: 0; width: 100%; display: flex;" [hidden]="map.get('orderCompleted').length == 0">
              <div class="col-lg-12" style="padding: 0">
                <button class="btn btn-primary" style="float: right" (click)="saveMessage('orderCompleted')">Salvar</button>
              </div>
            </div>

          </div>
          <button id="emoji-trigger" (click)="changeZIndex()" style="display: block; float: right; border: 0px; z-index: 9999999999; padding: 0px !important; margin-top: -99px; margin-right: 91px; max-width: 0px !important">
            <fa-icon [icon]="faGrinAlt" class="text-muted px-3" style="font-size:16px !important; padding: 0 !important"></fa-icon>
          </button>

        </div>
      </div>
    </div>

    <div id="wa-configuration" class="tabcontent_" style="background: #ffffff; border-left: 0; border-right: 0; border-top: 0px solid #e0e0e0 !important; display: none">
      <div class="tab" style="background: #ffffff; padding-top: 8px; border-bottom: 0px; border-left: 0; border-right: 0">
        <form id="PageMainForm" [formGroup]="waConfigForm" class="signupAppContent" method="POST">
          <h4>Tempo de entrega</h4>
          <div class="row">
            <div class="col-lg-4 vx_form-control vx_form-control_complex">
              <label>Tempo de entrega em minutos<span class="required-sign">*</span></label>
              <input formControlName="deliveryTime" type="text" class="form-control input" required/>
            </div>


          </div>
          <h4>Em porcentagem</h4>
          <div class="row">
            <div class="col-lg-4 vx_form-control vx_form-control_complex">
              <label>Serviços<span class="required-sign">*</span></label>
              <input formControlName="servicesPercentage" type="text" class="form-control input" required [brmasker]="{money: true, thousand: '.',  decimalCaracter: ','}" />
            </div>

            <div class="col-lg-4 vx_form-control vx_form-control_complex">
              <label>Descontos<span class="required-sign">*</span></label>
              <input formControlName="discountsPercentage" type="text" class="form-control input" required [brmasker]="{money: true, thousand: '.',  decimalCaracter: ','}" />
            </div>

          </div>
          <h4>Em dinheiro</h4>
          <div class="row">
            <div class="col-lg-4 vx_form-control vx_form-control_complex">
              <label>Serviços<span class="required-sign">*</span></label>
              <input formControlName="servicesMoney" type="text" class="form-control input" required [brmasker]="{money: true, thousand: '.',  decimalCaracter: ','}" />
            </div>

            <div class="col-lg-4 vx_form-control vx_form-control_complex">
              <label>Descontos<span class="required-sign">*</span></label>
              <input formControlName="discountsMoney" type="text" class="form-control input" required [brmasker]="{money: true, thousand: '.',  decimalCaracter: ','}" />
            </div>

          </div>
          <div class="row" style="margin-top: 25px">
            <div class="col-lg-12 vx_form-control vx_form-control_complex">
              <button class="btn btn-primary" style="float: right; margin-left: 15px"
                      type="submit" (click)="saveConfig()">
                Salvar
              </button>

            </div>
          </div>
        </form>
      </div>
    </div>

    </div>
  </div>

